<form action="{% url 'todoapp:detail' list.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ list.list_name }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for item in list.item_set.all %}
            <input type="radio" name="item" id="item{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="item{{ forloop.counter }}">{{ item.item_name }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>